{% load staticfiles %}
<html>
<head>
  <title>Online Feedback System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "css/home_page.css" %}">
</head>

<body bgcolor="#2631ff">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
      <h4>Feedback System</h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link active" href="https://127.0.0.1:8000/">Home<span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://127.0.0.1:8000/student_register/">Student</a>
          <a class="dropdown-item" href="https://127.0.0.1:8000/faculty_register/">Faculty</a>
      </li>

           <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Student</a>
              <a class="dropdown-item" href="#">Faculty</a>
            </div>
          </li> -->
          <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Register
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="http://127.0.0.1:8000/student_register/">Student</a>
    <a class="dropdown-item" href="http://127.0.0.1:8000/faculty_register/">Faculty</a>

  </div>
</div>
        </ul>
      </div>
    </nav>
    <div class="jumbotron">
        {{ one }} <br>
        {{ two }} <br>

        <hr class="my-4">
        {{ three }} <br>
        <a class="btn btn-primary btn-lg" href="https://127.0.0.1:8000/available_courses/" role="button">COURSES AVAILABLE</a>
        <a class="btn btn-primary btn-lg" href="https://127.0.0.1:8000/faculty_profile/" role="button">FACULTY DETAILS</a>
    </div>
  </div>
</body>
</html>
